FORMAT: 1A
HOST: http://itas.apiary.io/
VERSION: 1.0

# ITAS API Valuations 1.0

## Disclaimer

**** Warning: at this point, ITAS API does not support asynchronus or multithreading calls for POST, PUT and PATCH requests. Async or multithreading requests could result in various Error messages, or even a corruption of data in extreme cases and are therefore not supported. ****
<br />
<br />
<strong>Release notes</strong> (18<sup>th</sup> September 2017)

## New Endpoints

<ul>
<li>Accounting-Transactions <b>Transaction Physical Trade</b>: GET Details relevent to a Physical Trade referenced on the Posted and UnPosted Transaction Endpoints, with an emphasis on data useful for external consumers of accounting transactions,<a href="/#reference/accounting-transactions/transaction-physical-trade/read-transaction-physical-trade"> Link</a></li>
</ul>

## Updated Endpoints

<ul>
<li>None</li>
</ul>
<chandiv>** ends ** </div>


## AccessToken [/AT]
Model Header containing AccessToken

+ Model 
    + Header

            Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg


# Group Contract Valuation
Data endpoints for Contract Valuation

## Contract Valuation [/Valuation/{TradingEntityId}/Physical/ContractValuation/{PhysicalTradeId}]
`GET` Valuation of a Single Trade
### Read Physical Contract Valuation [GET]
 
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PhysicalTradeId|Physical Trade ID|`string`|10|||
|ContractCcyValues|see <b><a href="/#reference/data-object-definitions/contract-currency">Contract Currency</a></b> object|`object`||||
|PandLCurrencyValues|see <b><a href="/#reference/data-object-definitions/pnl-currency">PnL Currency</a></b> object|`object`||||
|SingleCurrencyValues|Single Currency Values|`decimal`||||
|SecondCurrencyValues|Second Currency Values|`decimal`||||
|FobValue|Fob Value|`decimal`||||
|ConvalCovered|Conval Covered|`number`||||
|PolarisationCovered|Polarisation Covered|`number`||||
|ResidualValue|Residual Value|`decimal`||||
|ResidualPolarisation|Residual Polarisation|`decimal`||||
|ExchangeRate|Exchange Rate|`decimal`||||
|FixedLotsAveragePrice|Fixed Lots Average Price|`decimal`||||
|SpotPrice|Spot Price|`decimal`||||
|CombinedPrice|Combined Price|`decimal`||||
|FixingPriceCode|Fixing Price Code|`string`|4|||
|FixingCurrencyCode|Fixing Currency Code|`string`|3|||
|GrossValue|Gross Value|`decimal`||||
|DifferentialValue|Differential Value|`decimal`||||
|DiscountValue|Discount Value|`decimal`||||
|PolarisationDetails|see <b><a href="/#reference/data-object-definitions/pnl-currency">PnL Currency</a></b> object|`object`||||
|CostValues|Cost Values|array of `decimal`||||
|CommissionValues|Commission Values|array of `decimal`||||


+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ContractId (required, string, `P00004.000`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (PhysicalTradeVal)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)



# Group Data Object Definitions
List of re-usable Data Objects referenced as `object` types. Not that these endpoints are not accessable and only here for reference purposes.


## Contract Currency Values [/ContractCurrencyValues]
A multipurpose object used by several endpoints
### ContractCurrencyValues [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CurrencyCode|Currency Code|`string`|3|||
|Value|Value|`decimal`||||
|Costs|Costs|`decimal`||||
|Commission|Commission|`decimal`||||
|Polarisation|Polarisation|`decimal`||||
|Priced|Priced|`number`||||
|Unpriced|Unpriced|`number`||||
|SettlementValue|SettlementValue|`decimal`||||

+ Response 200 (application/json; charset=utf-8)
+ Attributes (ValuesInContractCcy)


## PandL Currency Values [/PandLCurrencyValues]
A multipurpose object used by several endpoints
### PndLCurrencyValues [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CurrencyCode|Currency Code|`string`|3|||
|Value|Value|`decimal`||||
|Costs|Costs|`decimal`||||
|Commission|Commission|`decimal`||||
|Polarisation|Polarisation|`decimal`||||
|Priced|Priced|`number`||||
|Unpriced|Unpriced|`number`||||
|SettlementValue|SettlementValue|`decimal`||||

+ Response 200 (application/json; charset=utf-8)
+ Attributes (ValuesInPnLCcy)

## Polarisation Details [/PolarisationDetails]
A multipurpose object used by several endpoints
### PolarisationDetails [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|Scale|Scale|`string`|3|||
|Rate|Rate|`decimal`||||
|Polarity|Polarity|`decimal`||||


+ Response 200 (application/json; charset=utf-8)
+ Attributes (PolarisationDetail)

# Data Structures

## 200 SuccessResponse (object)
+ Value: Success (string)

## 200 UpdateResponse (object)
+ Value: Updated (string)

## 200 AuthoriseResponse (object)
+ Value: Authorised (string)

## 201 CreateResponse (object)
+ Value: Created (string)

## 201 CreateMessages (object)
+ Messages (array [201 ErrorMessageDetail])

## 201 ErrorMessageDetail (object)
+ Severity: Warning (string)
+ Message: `API5084 - LEG : {fieldName} has a {fieldName} of {value}.` (string)

## 400 Response (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array [400 ErrorMessageDetail])

## 400 ErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5058 - Data : The mandatory field {fieldName} was missing in the request body.` (string)


## 400 BadPropertyResponse (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array[400 BadPropertyErrorMessageDetail])

## 400 BadPropertyErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5074 - API : The value sent in the querystring variable {Property} is not allowed.` (string)


## 400 BadReadResponse (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array[400 BadReadErrorMessageDetail])

## 400 BadReadErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5075 - API : The value sent in the querystring is not allowed.` (string)


## 400 WarningMessageDetail (object)
+ Severity: Warning (string)
+ Message: `API50xx - Data : The field {fieldName} was not found.` (string)

## 400 InfoMessageDetail (object)
+ Severity: Information (string)
+ Message: `API50xx - Data : Now create xyz.` (string)


## 404 Response (object)
+ Response
    + Value: 404 Not Found (string)
+ Messages (array[404 ErrorMessageDetailMessage])

## 404 ErrorMessageDetailMessage (object)
+ Severity: Warning (string)
+ Message: `API5068 - Data : No records found.` (string)


## 405 Response (object)
+ Response
    + Value: 405 Method Not Allowed (string)
+ Messages (array[405 MethodNotAllowedMessage])

## 405 MethodNotAllowedMessage (object)
+ Severity: Error (string)
+ Message: `API5077 - API : That method is not supported, please check the ITAS API documentation.` (string)

## accessToken (object)
+ Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg 


## PhysicalTradeVal (object)
+ PhyscialTradeId: P00001.000 (string)
+ ContractCcyValues (ValuesInContractCcy)
+ PanLCurrencyValues (ValuesInPnLCcy)
+ SingleCurrencyValues: 4000 (number) 
+ SecondCurrencyValues: 3000 (number)
+ FobValue: `-3000` (number)
+ ConvalCovered: 0 (number)
+ PolarisationCovered: 0 (number)
+ ResidualValue: 2500 (number)
+ ResidualPolarisation: 0 (number)
+ ExchangeRate: 1 (number)
+ FixedLotsAveragePrice: 20 (number)
+ SpotPrice: 20 (number)
+ CombinedPrice: 40 (number)
+ FixingPriceCode: "PTS" (string)
+ FixingCurrencyCode: "GBP" (string)
+ GrossValue: 6000 (number)
+ DifferentialValue: 1500 (number)
+ DiscountValue: 4200 (number)
+ PolarisationDetails (PolarisationDetail)
+ CostValues: 500 (number)
+ CommissionValues: 300 (number)

## PolarisationDetail (object)
+ Scale: DOM (string)
+ Rate: 0.95 (number)
+ Polarity: 97.2 (number)

## ValuesInContractCcy (object)
+ CurrencyCode: USD (string)
+ Value: 4050 (number)
+ Costs: 200 (number)
+ Commission: 300 (number)
+ Polarisation: 100 (number)
+ Priced: 0 (number)
+ Unpriced: 0 (number)
+ SettlementValue: 4550 (number)

## ValuesInPnLCcy (object)
+ CurrencyCode: GBP (string)
+ Value: 3000 (number)
+ Costs: 100 (number)
+ Commission: 200 (number)
+ Polarisation: 50 (number)
+ Priced: 0 (number)
+ Unpriced: 0 (number)
+ SettlementValue: 3300 (number)
